$text: #032530;
$background: #ecfafe;
$primary: #22c1f1;
$secondary: #a4e5f9;
$accent: #0d9ac5;

$text-dark: #cff1fc;
$background-dark: #010f13;
$primary-dark: #0eacdd;
$secondary-dark: #06475b;
$accent-dark: #3ac8f2;